extends layout

block content
  h1= title
  p Welcome to #{title} this is graphs


  .wrapper
    #chart-container
    script(src='https://unpkg.com/embed-gocharting/gocharting-embed.js')
    script(type='text/javascript'). 
      var chart = new gocharting.GoChartsEmbed();
      chart.mount('#chart-container');
